.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  align-items: center;
  border-bottom: 1px solid rosybrown;
  position: relative;
}

.headerLogo {
  cursor: pointer;
  max-width: 150px;
  padding: 10px 25px;
  border: 1px solid rebeccapurple;
}

.headerNav {
  list-style: none;
  li {
    display: inline;

    a {
      padding: 0 10px;
      vertical-align: middle;
    }
  }
}

.headerProfile {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;

  & > * + * {
    margin-left: 10px;
  }

  img {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.headerProfileMenu {
  position: absolute;
  padding: 5px 5px;
  border: 1px solid royalblue;
  background-color: wheat;
  right: 0;
  top: 100%;
  width: 100%;
  & > * {
    padding: 5px;
    display: block;
  }
}
